*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img,
video{
    max-width: 100%;
    vertical-align: middle;
}
address,em,i{
    font-style: normal;
}
button{
    border:0;
    background: none;
    cursor: pointer;
}
/* blind  화면에서 보이지는 않지만 
리더기를 통해서 읽혀지도록*/
.blind{
    position: absolute;
    top:-9999px;
}
/* iframe */
iframe{
    border:0;
}