:root {
    --Primary-color: #243B66;
    --Secondary-color: #3F0B9F;

    --Typo-Primary: #222222;
    --Typo-Secondary: #666666;

    --inner-width: 1400px;
}

body {
    font-family: "Pretendard", sans-serif;
    font-size: 18px;
    color: #000;
}

.inner {
    max-width: var(--inner-width);
    background-color: rgba(255, 0, 0, 0.1);
    margin: 0 auto;
}

header{
    position: fixed;
    background-color: rgba(0, 0, 255, 0.2);
    width: 100%;
    z-index: 10000;
}
.header-inner{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.header-inner>div{
    display: flex;
    gap: 50px;
    align-items: center;
}
.main-menu{
    display: flex;
    align-items: center;
    gap: 85px;
    position: relative;
}
.main-menu>li{
    background: pink;
}
.main-menu>li>a{
    display: block;
    padding: 50px 8px;
    font-size: 18px;
    font-weight: 500;
}