:root {
    /* color */
    --Primary-color: #243B66;
    --Secondary-color: #3f0b9f;
    --Typo-Primary: #222222;
    --Typo-Secondary: #666666;

    --inner-width: 1400px;
}

.notice-inner {
    position: relative;

    background-image: url(../images/Notice_section/Notice_background_img.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    z-index: 0;
}

.notice-inner .inner {
    max-width: var(--inner-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    min-width: 0;
}

.inner-left .section-title {
    font-size: clamp(32px, 3vw, 48px);
}

.inner-left div>a {
    display: flex;
    align-items: center;
}

/* =========================
   Notice Tab
========================= */

.inner-right .notice-tab {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.inner-right .notice-tab>li>a {
    padding: 0 13px;
    font-size: 1.5em;
}

.inner-right .notice-tab .active {
    font-weight: 700;
}

/* =========================
   Notice List
========================= */

.inner-right .notice-list li a:hover .notice-title {
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 5px;
}

.inner-right .notice-list li a {
    height: 110px;

    display: flex;

    border-bottom: 1px solid #d5d5d5;
}

.inner-right .notice-list .notice-wrap {
    display: flex;
    align-items: center;
    gap: 1em;

    flex: 1;
    min-width: 0;
}

.inner-right .notice-list .notice-wrap .notice-type {
    flex-shrink: 0;

    background: var(--Secondary-color);
    border-radius: 1.56em;

    margin-left: 13px;

    color: #fff;
    padding: 0.25em 0.63em;

    white-space: nowrap;
}

.inner-right .notice-list .notice-wrap .notice-title {
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* =========================
   1279px
========================= */

@media screen and (min-width: 1280px) {
    .inner-right {
        width: 1045px;
        flex-shrink: 0;
    }
}



@media screen and (max-width: 1279px) {

    .notice-inner .inner {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;

        flex-direction: column;
        gap: 40px;
    }

    .inner-right .notice-list .notice-wrap .notice-type {
        border-radius: 1.2em;
        white-space: nowrap;
    }
}

/* =========================
   767px
========================= */

@media screen and (max-width: 767px) {

    .inner-right .notice-tab>li>a {
        padding: 0 13px;
        font-size: 1em;
    }

    .notice-inner .section-title {
        font-size: 32px;
    }

    .inner-right .notice-list .notice-wrap .notice-type {
        border-radius: 1.2em;
        white-space: nowrap;
    }

    .inner-right .notice-list li a {
        justify-content: space-between;
    }
}

/* =========================
   480px
========================= */

@media screen and (max-width: 480px) {

    .inner-right .notice-tab>li>a {
        padding: 0 13px;
        font-size: 0.9em;
    }

    .notice-inner .section-title {
        font-size: 2em;
    }

    .inner-right .notice-list .notice-wrap .notice-type {
        border-radius: 1.2em;
        font-size: 0.7em;
        white-space: nowrap;
    }
}